@model Codex_RI.Areas.Admin.Models.Regestae.SearchLemmaClusterModel
@{
    ViewBag.Title = "Lemmas / Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs {
    <p>
        Admin
    </p>
}

<div style="padding: 40px;" class="wrapper wrapper-content">

    @using (Html.BeginForm("", ""))
    {
        <div class="row">
            <div class="col-md-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Search</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Lemma
                                </label>
                                @Html.TextBoxFor(x => x.Lemma, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Lemma)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Page
                                </label>
                                @Html.DropDownListFor(x => x.Page, Model.Pages, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Page)
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Rows per page
                                </label>
                                @Html.DropDownListFor(x => x.PageRows, Model.Records, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PageRows)
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Sort by
                                </label>
                                @Html.DropDownListFor(x => x.Order, SelectList("SortOptions"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Order)
                            </div>
                            <div class="col-md-4">
                                <label>
                                    Sort direction
                                </label>
                                <div class="radio radio-success">
                                    @foreach (var direction in Model.Directions)
                                    {
                                        <div class="radio i-checks">
                                            @Html.RadioButtonFor(x => x.Direction, direction.Value) <label>@direction.Text</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a href="/Admin/Lemma/Search" class="btn btn-white btn-outline">Clear</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <a class="btn btn-lg btn-primary" href="/Admin/Lemma/Add">Add</a>
                </div>
            </div>
        </div>
    }

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Results</h5>
        </div>
        <div class="ibox-content">
            @if (Model.Results != null && Model.Results.Any())
            {
                <table class="table table-condensed table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Id
                            </th>
                            <th>
                                Lemma
                            </th>
                            <th>
                                # of Regests
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Results)
                        {
                            <tr>
                                <td>
                                    <a href="/Admin/Lemma/Index/@item.Entity.Guid" class="btn btn-default">
                                        View
                                    </a>
                                </td>
                                <td>
                                    @item.Entity.Guid
                                </td>
                                <td>
                                    @item.Entity.lemma
                                </td>
                                <td>
                                    @item.RegestCount
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4>There were no lemmas found for your query</h4>
            }
        </div>
    </div>
</div>
